* {
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  padding: 25px 10% 0 10%;
}

/* Banner */
.btn-primary {
    color: #fff ;
    background-color: #F85A3A ;
    border-color: #F85A3A;
}

.btn-primary:hover {
    color: #F85A3A ;
    background-color: #ffffff;
    border-color: #F85A3A;
}

.btn-outline-primary {
    color: #F85A3A ; 
    border-color: #F85A3A ;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #f85a3a;
  border: 0.1px #f85a3a solid;
}

/* Mission Statement */
#mission-statement, #service, #testimonial{
    background-color: #F85A3A ;
}

/* Gallery */
.gallerybox img {
  height: 300px;
}

.pricebox {
  height: 300px;
  background-color: #eee;
  /* border: 1px solid #F85A3A; */
  box-shadow: 0px 3px #F85A3A;
  border-radius: 10px;
  transition-duration: 0.8s;
}

.fs-3, .fs-4 {
  color: #F85A3A;
}

#pricing .fs-6 {
  color: #000;
}